[user]
	email = jke3@cs.cmu.edu
	name = jeff
[pull]
	rebase = true
[diff]
	tool = vimdiff
	algorithm = patience
[merge]
	tool = vimdiff
[git]
	editor = vim
[difftool]
	prompt = false
	trustExitCode = true
[alias]
    co = checkout
    br = branch
    a  = add
    rc = rebase --continue
    mt = mergetool
[mergetool]
	prompt = false
[core]
	editor = vim
[credential "https://github.com"]
	helper = 
	helper = !/home/jeffk/miniconda3/envs/isaacsim/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/jeffk/miniconda3/envs/isaacsim/bin/gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
