[submodule "nvim"]
	path = nvim
	url = git@github.com:jeffrey-ke/kickstart.nvim.git
[submodule "commentstrip"]
	path = commentstrip
	url = git@github.com:jeffrey-ke/commentstrip.git
[submodule "myvimtex"]
	path = myvimtex
	url = git@github.com:jeffrey-ke/myvimtex.git
