[user]
	email = jeffke613@gmail.com
	name = Jeffrey Ke
[pull]
	rebase = true
[diff]
	tool = vimdiff
	algorithm = patience
[merge]
	tool = vimdiff
[git]
	editor = vim
[difftool]
	prompt = false
	trustExitCode = true
[alias]
    co = checkout
    br = branch
    a  = add
    rc = rebase --continue
    mt = mergetool
	cof = config
[mergetool]
	prompt = false
[core]
	editor = vim
	excludesFile = /home/jeffk/.gitignore_global
[credential "https://github.com"]
	helper = 
	helper = !/ocean/projects/cis260205p/jke2/envs/main/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/ocean/projects/cis260205p/jke2/envs/main/bin/gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
