[MASTER]
good-names=LoRA
disable=
    C0114, 
    C0115,
    C0116,
    E0401,
    C0413,
    E0611,
    C0303,
    W0105,
    C0103,
max-line-length=120

[TYPECHECK]

# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E1101 when accessed. Python regular
# expressions are accepted.
generated-members=numpy.*, torch.*, cv2.*
